<section class="logistics" id="logistics">
    <div class="container">
        <div class="section-heading">
             <h3>{{module.title_text }}</h3>
        </div>
        <div class="logistics-content ">
            <img src="{{ module.map_image.url }}" alt="{{ module.map_image.alt }}">
        </div>
    </div>
</section>